In [15]:
!pip3 install pandas
!pip3 install PyArrow

Requirement already satisfied: pandas in ./.local/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /runtime-addons/cmladdon-python-2.0.30-b114/opt/cmladdons/python/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /runtime-addons/cmladdon-python-2.0.30-b114/opt/cmladdons/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /runtime-addons/cmladdon-python-2.0.30-b114/opt/cmladdons/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: PyArrow in ./.local/lib/python3.7/site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/site-packages (from PyArrow) (1.19.4)

In [16]:
import pyspark.pandas as pds
from pyspark.sql.functions import col

In [17]:
import pandas as pd

# Create pandas DataFrame
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python","NA"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000,1500],
    'Duration':['30days','50days','55days','40days','60days','35days','30days','50days','40days'],
    'Discount':[1000,2300,1000,1200,2500,None,1400,1600,0]
          })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

In [18]:
# Use groupby() to compute the sum
df2 = df.groupby(['Courses']).sum()
print(df2)

           Fee  Discount
Courses
Hadoop   48000    1000.0
NA        1500       0.0
Pandas   26000    2500.0
PySpark  25000    2300.0
Python   46000    2800.0
Spark    47000    2400.0

In [19]:
import pyspark.pandas as ps

# Create pandas DataFrame
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python","NA"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000,1500],
    'Duration':['30days','50days','55days','40days','60days','35days','30days','50days','40days'],
    'Discount':[1000,2300,1000,1200,2500,None,1400,1600,0]
          })
df = ps.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

In [20]:
# Use groupby() to compute the sum
df2 = df.groupby(['Courses']).sum()
print(df2)

           Fee  Discount
Courses
NA        1500       0.0
Pandas   26000    2500.0
Python   46000    2800.0
Spark    47000    2400.0
Hadoop   48000    1000.0
PySpark  25000    2300.0

In [21]:
# Convert Pandas API on Spark to Pandas DataFrame
pdf = df.to_pandas()
print(type(pdf))

<class 'pandas.core.frame.DataFrame'>

In [22]:
# Convert Pandas DataFrame to Pandas API on Spark DataFrame
psdf = ps.from_pandas(pdf)
print(type(psdf))

<class 'pyspark.pandas.frame.DataFrame'>

In [23]:
# Pandas API on Spark Dataframe into a Spark DataFrame
sdf = df.to_spark()
print(type(sdf))
sdf.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+-------+-----+--------+--------+
|Courses|  Fee|Duration|Discount|
+-------+-----+--------+--------+
|  Spark|22000|  30days|  1000.0|
|PySpark|25000|  50days|  2300.0|
| Hadoop|23000|  55days|  1000.0|
| Python|24000|  40days|  1200.0|
| Pandas|26000|  60days|  2500.0|
| Hadoop|25000|  35days|    null|
|  Spark|25000|  30days|  1400.0|
| Python|22000|  50days|  1600.0|
|     NA| 1500|  40days|     0.0|
+-------+-----+--------+--------+